# WRDS CRSP Documentation

### Treasury Libraries
`crsp_m_treasuries`

Quote Data
* tfz_dly: main file of treasury quotes
* tfz_dly_ts2: supplemental series
* tfz_dly_ft: matched to term structure at any given date
* tfz_dly_cd: compilation of fed reported rates in tfz format
* tfz_dly_cpi: compilation of cpi data
* tfz_dly_rf2: compiled risk-free rate

Identifying Info
* tfz_iss: issue details (which are included automatically in queries.)
* tfz_idx: description of KYTREASNOX codes

### WRDS Python Manual
https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/querying-wrds-data-python/

https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-example-data-workflow/

https://wrds-www.wharton.upenn.edu/pages/support/applications/python-replications/fama-french-factors-python/

### CRSP Treasury Manual

https://www.crsp.org/products/documentation/treasno-properties
https://www.crsp.org/products/documentation/reference-information

In [1]:
import wrds
file_key = open("../../keys/wrds_username.txt","r")
USERNAME = file_key.read()
file_key.close()

db = wrds.Connection(wrds_username=USERNAME)
#db.create_pgpass_file()

Loading library list...
Done

In [2]:
import pandas as pd
import numpy as np
from datetime import date

# Library Info

In [3]:
libs = db.list_libraries()
libs_crsp = [item for item in libs if item.startswith('crsp')]
treasury_databases = db.list_tables('crsp_m_treasuries')
display(treasury_databases)

['tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay']

In [4]:
db.describe_table(library='crsp_m_treasuries', table='tfz_dly')

Approximately 3376081 rows in crsp_m_treasuries.tfz_dly.

              name  nullable              type comment
0        kytreasno      True  DOUBLE_PRECISION    None
1         kycrspid      True       VARCHAR(15)    None
2            caldt      True              DATE    None
3            tdbid      True  DOUBLE_PRECISION    None
4            tdask      True  DOUBLE_PRECISION    None
5         tdnomprc      True  DOUBLE_PRECISION    None
6     tdnomprc_flg      True        VARCHAR(1)    None
7         tdsourcr      True        VARCHAR(1)    None
8         tdaccint      True  DOUBLE_PRECISION    None
9         tdretnua      True  DOUBLE_PRECISION    None
10           tdyld      True  DOUBLE_PRECISION    None
11        tdduratn      True  DOUBLE_PRECISION    None
12        tdpubout      True  DOUBLE_PRECISION    None
13        tdtotout      True  DOUBLE_PRECISION    None
14         tdpdint      True  DOUBLE_PRECISION    None
15      tdidxratio      True  DOUBLE_PRECISION    None
16  tdidxratio_flg      True        VARCHAR(1)    None

# Database quote

In [10]:
DATE = '2023-07-26'
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where caldt=\'{DATE}\''
data_quotes = db.raw_sql(SQL_QUERY)
data_quotes

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204086.0,20260215.106000,2023-07-26,103.281250,103.312500,103.296875,M,I,2.668508,0.000894,0.000125,859.803986,6194.0,12838.0,0.0,NaN,None
1,204091.0,20271115.106120,2023-07-26,107.351562,107.421875,107.386719,M,I,1.198370,0.001775,0.000114,1398.440949,7775.0,22021.0,0.0,NaN,None
2,204095.0,20290815.106120,2023-07-26,111.070312,111.117188,111.093750,M,I,2.724102,0.003905,0.000109,1856.188770,4014.0,11179.0,0.0,NaN,None
3,204098.0,20360215.104500,2023-07-26,107.273438,107.335938,107.304688,M,I,2.001381,0.001331,0.000102,3530.178544,8371.0,26397.0,0.0,NaN,None
4,204100.0,20370515.105000,2023-07-26,112.625000,112.687500,112.656250,M,I,0.978261,0.001152,0.000103,3758.256297,6423.0,21413.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,208056.0,20250531.204250,2023-07-26,98.742188,98.773438,98.757812,M,I,0.650273,0.000471,0.000134,652.356721,41993.0,49881.0,0.0,NaN,None
433,208058.0,20280531.203620,2023-07-26,97.792969,97.839844,97.816406,M,I,0.554645,0.001652,0.000112,1629.453400,42984.0,51060.0,0.0,NaN,None
434,208069.0,20231214.400000,2023-07-26,97.935917,97.939833,97.937875,M,I,0.000000,0.000089,0.000148,141.000000,NaN,61439.0,0.0,NaN,None
435,208076.0,20300630.203750,2023-07-26,98.429688,98.476562,98.453125,M,I,0.264946,0.001768,0.000109,2244.022080,35000.0,35000.0,0.0,NaN,None
436,208079.0,20231121.400000,2023-07-26,98.266056,98.270972,98.268514,M,I,0.000000,0.000124,0.000148,118.000000,NaN,NaN,0.0,NaN,None

In [11]:
KEYS = tuple(data_quotes['kytreasno'])
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYS}'
data_iss = db.raw_sql(SQL_QUERY)
data_iss

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204082.0,20230815.106250,20230815.106250,912810EQ,1993-08-16,2023-08-15,1.0,6.250,2.0,3.108016,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204083.0,20241115.107500,20241115.107500,912810ES,1994-05-15,2024-11-15,0.0,7.500,2.0,3.750000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204084.0,20250215.107620,20250215.107620,912810ET,1995-02-15,2025-02-15,0.0,7.625,2.0,3.812500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204085.0,20250815.106870,20250815.106870,912810EV,1995-08-15,2025-08-15,0.0,6.875,2.0,3.437500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204086.0,20260215.106000,20260215.106000,912810EW,1996-02-15,2026-02-15,0.0,6.000,2.0,3.000000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,208084.0,20240711.400000,20240711.400000,912797GB,2023-07-13,2024-07-11,0.0,0.000,0.0,0.000000,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
433,208085.0,20250731.204750,20250731.204750,91282CHN,2023-07-31,2025-07-31,0.0,4.750,2.0,2.375000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
434,208086.0,20260715.204500,20260715.204500,91282CHM,2023-07-15,2026-07-15,0.0,4.500,2.0,2.250000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
435,208087.0,20280731.204120,20280731.204120,91282CHQ,2023-07-31,2028-07-31,0.0,4.125,2.0,2.062500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
436,208089.0,20330715.C01370,20330715.C01370,91282CHP,2023-07-15,2033-07-15,0.0,1.375,2.0,0.687500,...,None,0.0,None,12.0,0.0,1.0,1.0,None,None,None

In [12]:
data = data_quotes.merge(data_iss, on='kytreasno')
data

,kytreasno,kycrspid_x,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204086.0,20260215.106000,2023-07-26,103.281250,103.312500,103.296875,M,I,2.668508,0.000894,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204091.0,20271115.106120,2023-07-26,107.351562,107.421875,107.386719,M,I,1.198370,0.001775,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204095.0,20290815.106120,2023-07-26,111.070312,111.117188,111.093750,M,I,2.724102,0.003905,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204098.0,20360215.104500,2023-07-26,107.273438,107.335938,107.304688,M,I,2.001381,0.001331,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204100.0,20370515.105000,2023-07-26,112.625000,112.687500,112.656250,M,I,0.978261,0.001152,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,208056.0,20250531.204250,2023-07-26,98.742188,98.773438,98.757812,M,I,0.650273,0.000471,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
433,208058.0,20280531.203620,2023-07-26,97.792969,97.839844,97.816406,M,I,0.554645,0.001652,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
434,208069.0,20231214.400000,2023-07-26,97.935917,97.939833,97.937875,M,I,0.000000,0.000089,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
435,208076.0,20300630.203750,2023-07-26,98.429688,98.476562,98.453125,M,I,0.264946,0.001768,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
436,208079.0,20231121.400000,2023-07-26,98.266056,98.270972,98.268514,M,I,0.000000,0.000124,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None

# Get Yield Curve Data (CRSP)

In [25]:
data_ft = db.get_table(library='crsp_m_treasuries', table='tfz_dly_ft').pivot_table(index='caldt',values='tdytm', columns='kytreasnox')
data_ft.columns = [1,2,5,7,10,20,30]
data_ft

,1,2,5,7,10,20,30
caldt,,,,,,,
1961-06-14,2.935907,3.360687,3.623677,3.768720,3.818819,3.814210,3.815172
1961-06-15,2.932936,3.376460,3.671691,3.804225,3.862987,3.828220,3.826316
1961-06-16,2.929949,3.375670,3.685431,3.804216,3.863282,3.832922,3.830049
1961-06-19,2.920884,3.389970,3.712984,3.824557,3.886205,3.842378,3.837543
1961-06-20,2.952419,3.355796,3.685391,3.809274,3.886506,3.856465,3.845018
...,...,...,...,...,...,...,...
2023-11-24,5.257859,4.872766,4.461339,4.398719,4.433848,4.778018,4.557470
2023-11-27,5.226927,4.816147,4.385743,4.326477,4.357056,4.706707,4.496166
2023-11-28,5.233664,4.694370,4.277890,4.244636,4.284440,4.668738,4.465826
2023-11-29,5.124336,4.598214,4.211757,4.177683,4.223625,4.604665,4.397524
2023-11-30,5.141552,4.618621,4.275851,4.247920,4.287157,4.666943,4.454573

# Get Timeseries for certain maturities

In [26]:
MATDT = '2041-02-15'

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where tmatdt=\'{MATDT}\''
temp = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,206226.0,20410215.104750,20410215.104750,912810QN,2011-02-15,2041-02-15,0.0,4.750,2.0,2.3750,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,206477.0,20410215.B02120,20410215.B02120,912810QP,2011-02-15,2041-02-15,0.0,2.125,2.0,1.0625,...,None,0.0,None,11.0,0.0,1.0,1.0,None,None,None
2,207679.0,20410215.101870,20410215.101870,912810SW,2021-02-15,2041-02-15,0.0,1.875,2.0,0.9375,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None

In [27]:
if temp.shape[0]>1:
    KEYNO = tuple(temp['kytreasno'])
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO}'
else:
    KEYNO = temp['kytreasno'].values[0]
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno =\'{KEYNO}\''
    
ts = db.raw_sql(SQL_QUERY)
ts

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,206226.0,20410215.104750,2011-02-11,100.953125,101.031250,100.992188,M,I,0.000000,NaN,0.000127,5976.516147,NaN,NaN,0.0,NaN,None
1,206226.0,20410215.104750,2012-06-20,141.828125,141.906250,141.867188,M,I,1.644231,0.000091,0.000072,6515.711044,28654.0,43005.0,0.0,NaN,None
2,206226.0,20410215.104750,2012-06-21,143.195312,143.210938,143.203125,M,I,1.657280,0.009400,0.000071,6534.197013,28654.0,43005.0,0.0,NaN,None
3,206226.0,20410215.104750,2012-06-22,141.289062,141.367188,141.328125,M,I,1.670330,-0.012853,0.000073,6505.866039,28654.0,43005.0,0.0,NaN,None
4,206226.0,20410215.104750,2012-06-25,143.468750,143.515625,143.492188,M,I,1.709478,0.015407,0.000070,6534.532287,28654.0,43005.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7106,206477.0,20410215.B02120,2013-01-16,146.531250,147.015625,146.773438,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05386,C
7107,206477.0,20410215.B02120,2013-01-17,145.609375,145.640625,145.625000,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05370,C
7108,206477.0,20410215.B02120,2013-01-18,146.597656,147.078125,146.837891,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05354,C
7109,206477.0,20410215.B02120,2013-01-22,146.417969,146.898438,146.658203,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05290,C
7110,206477.0,20410215.B02120,2013-01-23,146.824219,147.304688,147.064453,M,I,0.000000,NaN,NaN,NaN,13008.0,25335.0,0.0,1.05273,C

# Get Timeseries for certain issues

In [28]:
KEYNO_ts = (207816,207818)
#KEYNO_ts = (206980,207213)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts}'

ts_issue = db.raw_sql(SQL_QUERY)
ts_issue

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207816.0,20220630.400000,2022-05-11,99.902778,99.904167,99.903472,M,I,0.0,-0.000023,0.000019,50.0,None,123700.0,0.0,None,None
1,207816.0,20220630.400000,2022-05-12,99.904722,99.906083,99.905403,M,I,0.0,0.000019,0.000019,49.0,None,123700.0,0.0,None,None
2,207816.0,20220630.400000,2022-05-13,99.900000,99.901333,99.900667,M,I,0.0,-0.000047,0.000021,48.0,None,123700.0,0.0,None,None
3,207816.0,20220630.400000,2022-05-16,99.906250,99.907500,99.906875,M,I,0.0,0.000062,0.000021,45.0,None,123700.0,0.0,None,None
4,207816.0,20220630.400000,2022-05-17,99.905889,99.907111,99.906500,M,I,0.0,-0.000004,0.000021,44.0,None,123700.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,207816.0,20220630.400000,2022-05-04,99.889167,99.897083,99.893125,M,I,0.0,-0.000013,0.000019,57.0,None,123700.0,0.0,None,None
376,207816.0,20220630.400000,2022-05-05,99.902778,99.904333,99.903556,M,I,0.0,0.000104,0.000017,56.0,None,123700.0,0.0,None,None
377,207816.0,20220630.400000,2022-05-06,99.922083,99.923611,99.922847,M,I,0.0,0.000193,0.000014,55.0,None,123700.0,0.0,None,None
378,207816.0,20220630.400000,2022-05-09,99.907556,99.909000,99.908278,M,I,0.0,-0.000146,0.000018,52.0,None,123700.0,0.0,None,None
379,207816.0,20220630.400000,2022-05-10,99.905083,99.906500,99.905792,M,I,0.0,-0.000025,0.000018,51.0,None,123700.0,0.0,None,None

In [29]:
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYNO_ts}'
temp = db.raw_sql(SQL_QUERY)
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,207816.0,20220630.400000,20220630.400000,912796R5,2021-12-30,2022-06-30,1.0,0.0,0.0,0.0,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
1,207818.0,20221229.400000,20221229.400000,912796R2,2021-12-30,2022-12-29,1.0,0.0,0.0,0.0,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None

# Get Timeseries for TIPS issues

In [30]:
KEYNO_tips = (207431,206999,207009)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_tips}'

ts_issue_tips = db.raw_sql(SQL_QUERY)
ts_issue_tips

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207431.0,20241015.C00120,2019-10-21,100.171875,100.242188,100.207031,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99999,C
1,206999.0,20260715.C00120,2016-07-14,101.171875,101.203125,101.187500,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99987,C
2,206999.0,20260715.C00120,2016-07-15,100.890625,100.921875,100.906250,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,1.00000,C
3,206999.0,20260715.C00120,2016-07-18,101.253906,101.285156,101.269531,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,1.00039,C
4,206999.0,20260715.C00120,2016-07-19,101.421875,101.453125,101.437500,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,1.00052,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4711,207009.0,20260815.201500,2019-10-15,98.812500,98.875000,98.843750,M,I,0.248641,-0.002667,0.000046,2375.080233,63023.0,65349.0,0.0,NaN,None
4712,207009.0,20260815.201500,2019-10-16,99.062500,99.125000,99.093750,M,I,0.252717,0.002564,0.000045,2374.276965,63023.0,65349.0,0.0,NaN,None
4713,207431.0,20241015.C00120,2019-10-24,100.332031,100.402344,100.367188,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99999,C
4714,207431.0,20241015.C00120,2019-10-25,100.257812,100.332031,100.294922,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99998,C
4715,207431.0,20241015.C00120,2019-10-29,99.820312,99.890625,99.855469,M,I,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,0.99998,C

In [31]:
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYNO_tips}'
temp = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,206999.0,20260715.C00120,20260715.C00120,912828S5,2016-07-15,2026-07-15,0.0,0.125,2.0,0.0625,...,None,0.0,None,12.0,0.0,1.0,1.0,None,None,None
1,207009.0,20260815.201500,20260815.201500,9128282A,2016-08-15,2026-08-15,0.0,1.500,2.0,0.7500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
2,207431.0,20241015.C00120,20241015.C00120,912828YL,2019-10-15,2024-10-15,0.0,0.125,2.0,0.0625,...,None,0.0,None,12.0,0.0,1.0,1.0,None,None,None

# Get Timeseries for Duration Analysis

In [32]:
KEYNO_ts_duration = (207392, 207391, 207457)
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts_duration}'
ts_issue_duration = db.raw_sql(SQL_QUERY)
ts_issue_duration

infoflds = ['tdatdt','tmatdt','tcouprt','itype']
labels = ['issue date','maturity date','coupon rate','security type']
rename_dict = {infoflds[i]:labels[i] for i in range(len(infoflds))}
info_ts_duration = data_iss.set_index('kytreasno').loc[list(KEYNO_ts_duration),infoflds].rename(columns=rename_dict)

KeyError: '[207457] not in index'

# Save to Excel

In [13]:
outfile = f'../data/treasury_quotes_{DATE}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data.to_excel(writer, sheet_name= 'quotes', index=False)

In [34]:
outfile = f'../data/treasury_ts_{MATDT}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts.to_excel(writer, sheet_name= 'ts', index=False)

In [35]:
outfile = f'../data/treasury_ts_issue_{KEYNO_ts}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue.to_excel(writer, sheet_name= 'ts', index=False)

In [36]:
outfile = f'../data/treasury_ts_issue_TIPS_{KEYNO_tips}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue_tips.to_excel(writer, sheet_name= 'ts', index=False)

In [37]:
outfile = f'../data/yields.xlsx'
with pd.ExcelWriter(outfile) as writer:
    data_ft.to_excel(writer, sheet_name= 'yields', index=True)

In [38]:
outfile = f'../data/treasury_ts_issue_duration_{KEYNO_ts_duration}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    info_ts_duration.to_excel(writer, sheet_name= 'info', index=True)
    ts_issue_duration.to_excel(writer, sheet_name= 'ts', index=False)

IndexError: At least one sheet must be visible